// COLOR VARIABLES
$color-primary: #fcd8d4;
$color-primary-dark: #f25287;

$color-secondary: #262a53;
$color-tertiary: #f8e2cf;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #fdf6f0;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-display-1: "MonteCarlo", cursive;
$font-display-2: "Lobster", cursive;
$font-display-3: "Pacifico", cursive;
$font-display-4: "Karla", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  cursor: url(../img/cursor.gif), auto;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}
